{% extends 'base.html'%}
{% import 'macros.html' as macro%}
<title>{{ title }}</title>
{%block content%}
<div class="head">
<h3>Welcome to the Awesome Pitches Application. 
<br> Come let me impress you for just a minute.Flex for a moment.</h3>
</div>
<div class="col-md-2"></div>
<div class="col-md-4" style="text-align: center;">
    <div class="well well-lg" id="card1">
        <h3 style="color: #38bdf8;">Business Pitches</h3>
        <hr>
        <p style="color: #edf2f4;">· Make it clear. <br> · Explain who your customers are. <br> · Explain the problem
            they're facing. </p>
        <br>
        <a href="{{url_for('main.business_pitches')}}" style="margin-top: 2%; color: #1d4ed8;"">Click to view</a>
    </div>
</div>
<div class="col-md-4" style="text-align: center;">
    <div class="well well-lg" id="card2">
        <h3 style="color: #38bdf8;">Entertainment Pitches</h3>
        <hr>
        <p style="color: #edf2f4;">Happy Dance. <br> ·The world is a stage, the stage is a world of entertainment. <br> ·Nothing is really work unless you would rather be 
            doing something else. </p>
        <br>
        <a href="{{url_for('main.entertainment_pitches')}}" style="margin-top: 2%; color: #1d4ed8;">Click to view</a>
        <br>

    </div>
<div class="col-md-2"></div>

</div>
<div class="col-md-4"></div>
<div class="col-md-4" style="text-align: center;">
    <div class="well well-lg" id="card3">
        <h3 style="color: #38bdf8;">Puns Pitches</h3>
        <hr>
        <p style="color: #edf2f4;">·Time flies like an arrow. Fruit flies like a banana. <br> ·What did the grape say when it got crushed? Nothing, it just let out a little wine.</p>
        <br>
        <a href="{{url_for('main.puns_pitches')}}" style="margin-top: 2%; color: #1d4ed8;">Click to view</a>
    </div>
<div class="col-md-4"></div>
<div style="padding-bottom: 15px; text-align: center;">
    <a href="{{url_for('main.new_pitch')}}" class="btn btn-primary">Click to create a pitch</a>
</div>



</div>


{%endblock%}

