{% extends 'base.html'%}
{% import 'macros.html' as macro%}
<title>{{ title }}</title>
{%block content%}
<h2 class="heading">Welcome To Blog Post <br>Feel free to interact will all that was created here.</h2>

<div class="jumbotron">
    <div class="px-4 py-5 my-5 text-center">
        <figure class="text-center text-blue">
            <blockquote class="blockquote">
                <p>{{quote.quote}}</p>
            </blockquote>
            <figcaption class="footer">
                <cite title="Title"> ~~ {{quote.author}}</cite>
            </figcaption>
        </figure>
    </div>
  </div>
</div>
<div>
    {{macro.displayBlogs(post)}}
</div>


{%endblock%}

