{% macro displayBlogs(post)%}
{% if post %}
    {%for posts in post%}
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 review-card">
            <div class="well well-lg" id="card4" style="color: #ebf2f4;">
                <h4>{{posts.title}}</h4>
                <p>{{posts.post}}</p>
                <p>{{posts.author}}</p>
            </div>
        </div>
    {%endfor%}
    {%if post %}
    <div>
        <a href="{{url_for('main.new_Blog')}}" class="btn btn-primary">Click to create a Blog</a>
    </div>
    {% endif %}
    {% endif %}
{%endmacro%}