{% macro displayBlogs(post)%}
{% if post %}
    {%for posts in post%}
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 review-card">
            <div class="well well-lg" id="card4" style="color: #ebf2f4;">
                <h4>{{posts.title}}</h4>
                <p>{{posts.post}}</p>
                <p>~~{{posts.author}}</p>
                <!-- <button style="color: black;"><a href="{{url_for('main.deleteBlogs',blog_id=posts.id)}}">{{posts.deleteBlogs}}</a>Delete</button> -->
                <a href="{{url_for('main.deleteBlogs',blog_id=posts.id)}}"><button>Delete</button>{{posts.deleteBlogs}}</a>
                <a href="{{url_for('main.editBlogs',id=posts.id)}}"><button>Edit</button>{{posts.editBlogs}}</a>
                <a href="{{url_for('main.comment',blog_id=posts.id)}}"> <button>Comment</button></a>
            </div>
        </div>
    {%endfor%}
    {%if post %}
    <!-- <div>
        <a href="{{url_for('main.new_Blog')}}" class="btn btn-primary" style="text-align:center;"><button style="color: black;">Create a Blog</button></a>
    </div> -->
    {% endif %}
    {% endif %}
{%endmacro%}